.card-dia {
    background-color: #ccccccff;
    border-radius: 15% 15% 0% 15%;
    border-color: black;
    border-style: solid;


}

.contentRefeicao {
    padding-top: 0px;
    padding-bottom: 0px;
}

.blocoRefeicao{
    
    border-radius: 10%
}

.blocoItens {
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: right;
}

.tituloRefeicao {
    left: 5%;

}