<ion-card class="card-dia">
  <ion-card-header>
    <ion-card-title>{{ nome }}</ion-card-title>
  </ion-card-header>

  <ion-card-content *ngFor="let ref of refsDia" class="contentRefeicao">
    <ion-card class="blocoRefeicao">
      <ion-card-title class="tituloRefeicao">
        {{ ref.refs }}  
      </ion-card-title>
      <ion-card-content *ngFor="let item of ref.itens" class="blocoItens">
        {{item.quantidade + " " + item.unidade + " " + item.produto }}
      </ion-card-content>
    </ion-card>    
  </ion-card-content>

</ion-card>