.card-dia {
    background-color: #ccccccff;
    border-radius: 15% 15% 0% 15%;
    border-color: black;
    border-style: solid;    

}

.card-refeicao {
    background-color: #ffffffff;
    border-radius: 10%;
    font-family: Garamond;
}
p {
    text-align: right;
    height: 100%;
    width: 50%;
    border-style: solid;
}

ion-card{
    align-items: flex-start;
}

.ggg {
    // width: 40%;
}