<ion-card class="card-dia">
  <ion-card-header>
    <ion-card-title>{{ nome }}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-card>
      <ion-card-title class="card-refeicao">Café da manhã</ion-card-title>
      <p>
        <li>2 xic. Coffee</li>
        <li>2 xic. Tea</li>
        <li>2 xic. Milk</li>
      </p>
    </ion-card>

    <ion-card>
      <ion-card-title class="card-refeicao">Lanche</ion-card-title>
    </ion-card>

    <ion-card>
      <ion-card-title class="card-refeicao">Almoço</ion-card-title>
    </ion-card>

    <ion-card>
      <ion-card-title class="card-refeicao">Café da tarde</ion-card-title>
    </ion-card>

    <ion-card>
      <ion-card-title class="card-refeicao">Jantar</ion-card-title>
    </ion-card>

    <ion-card>
      <ion-card-title class="card-refeicao">Petiscos</ion-card-title>
    </ion-card>
    
  </ion-card-content>

</ion-card>