  <ion-header [translucent]="true">
    <div class="content">
      <ion-toolbar class="toolbar">
        <ion-title>
          Cardápios
        </ion-title>
      </ion-toolbar>
    </div>
  </ion-header>
  
<ion-content [fullscreen]="true" class="content">
  <ion-row>
    <ion-col class="coluna">
      <app-card-dia  [nome]="'Domingo'"></app-card-dia>
    </ion-col>
    <ion-col class="coluna">
      <app-card-dia  [nome]="'Segunda-feira'"></app-card-dia>
    </ion-col>
    <ion-col class="coluna">
      <app-card-dia  [nome]="'Terça-feira'"></app-card-dia>
    </ion-col>
    <ion-col class="coluna">
      <app-card-dia  [nome]="'Quarta-feira'"></app-card-dia>
    </ion-col>
    <ion-col class="coluna">
      <app-card-dia  [nome]="'Quinta-feira'"></app-card-dia>
    </ion-col>
    <ion-col class="coluna">
      <app-card-dia  [nome]="'Sexta-feira'"></app-card-dia>
    </ion-col>
    <ion-col class="coluna">
      <app-card-dia  [nome]="'Sábado'"></app-card-dia>
    </ion-col>
  </ion-row>
</ion-content>
