  <ion-header [translucent]="true">
    <div class="content">
      <ion-toolbar class="toolbar">
        <ion-title>
          Cardápios
        </ion-title>
      </ion-toolbar>
    </div>
  </ion-header>
  
<ion-content [fullscreen]="true" class="content">
  <ion-row>
    <ion-col class="coluna">
      <app-card-dia 
      [nome]="'Domingo'" 
      [refsDia]="[{refs:'Café da manha',itens:[{produto:'Banana',quantidade:'2',unidade:'un'},
                                               {produto:'Maça',quantidade:'1',unidade:'un'}]},
                  {refs:'Jantar',itens:[{produto:'Frango',quantidade:'300',unidade:'gr'},
                                        {produto:'Batata',quantidade:'200',unidade:'gr'}]}]"
      ></app-card-dia>
    </ion-col>
    <ion-col class="coluna">
      <app-card-dia  [nome]="'Segunda-feira'"></app-card-dia>
    </ion-col>
    <ion-col class="coluna">
      <app-card-dia  [nome]="'Terça-feira'"></app-card-dia>
    </ion-col>
    <ion-col class="coluna">
      <app-card-dia  [nome]="'Quarta-feira'"></app-card-dia>
    </ion-col>
    <ion-col class="coluna">
      <app-card-dia  [nome]="'Quinta-feira'"></app-card-dia>
    </ion-col>
    <ion-col class="coluna">
      <app-card-dia  [nome]="'Sexta-feira'"></app-card-dia>
    </ion-col>
    <ion-col class="coluna">
      <app-card-dia  [nome]="'Sábado'"></app-card-dia>
    </ion-col>
  </ion-row>
</ion-content>

<!-- [{refs:'Café da manha',itens:[
                            {produto: 'Banana',
                            quantidade: 2,
                            unidade: 'un'
                            },
                            {produto: 'Maça',
                            quantidade: 1,
                            unidade: 'un'
                            }
},refs:'Jantar',itens:[
                      {produto: 'Frango',
                      quantidade: '300',
                      unidade: 'gr'
                      },
                      {produto: 'Batata',
                      quantidade: '200',
                      unidade: 'gr'
                      }]





<!-- [
                {refs:'Café da manha',itens:['Banana','Maça'],quantidade:['2','3'],unidade:['un','un']},
                {refs:'Jantar',itens:['Frango','Batata'],quantidade:['300','300'],unidade:['gr','gr']}
                ] -->