<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Cardápios
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="card-dia">
    <ion-card-header>
      <ion-card-title>Domingo</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-card>
        <ion-card-title class="card-refeicao">Café da manhã</ion-card-title>
      </ion-card>

      <ion-card>
        <ion-card-title class="card-refeicao">Lanche</ion-card-title>
      </ion-card>

      <ion-card>
        <ion-card-title class="card-refeicao">Almoço</ion-card-title>
      </ion-card>

      <ion-card>
        <ion-card-title class="card-refeicao">Café da tarde</ion-card-title>
      </ion-card>

      <ion-card>
        <ion-card-title class="card-refeicao">Jantar</ion-card-title>
      </ion-card>

      <ion-card>
        <ion-card-title class="card-refeicao">Petiscos</ion-card-title>
      </ion-card>
    </ion-card-content>

  </ion-card>
</ion-content>
